* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(150deg, rgb(214, 240, 68), rgb(47, 147, 218));
}

.container {
    position: relative;
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
}